{% extends 'main/base.html' %} 
{% block title %}
  User Type
{%endblock %}

{% block content %}
    <p class="choice_text">Choose whether you want to be a customer or a company</p>
    
    <p style="text-align: center; margin-bottom: 30px;">
        Already have an account? <a href="/register/login/">Login here</a>
    </p>
    
    <div style="margin-top: 70px; display: flex; justify-content: space-around; align-items: center;">
        <div class="choice" style="text-align: center;">
            <a href="/register/company/" class="like_button" style="display: block; padding: 40px 60px; font-size: 18px;">
                Company
            </a>
            <p style="margin-top: 10px;">Register as a service provider</p>
        </div>

        <div class="choice" style="text-align: center;">
            <a href="/register/customer/" class="like_button" style="display: block; padding: 40px 60px; font-size: 18px;">
                Customer
            </a>
            <p style="margin-top: 10px;">Register to request services</p>
        </div>
    </div>
{% endblock %}
