{% extends 'main/base.html' %}
{% block title %}
    Most Requested Services
{% endblock %}

{% block content %}
    <p class="title">Most Requested Services</p>
    <div class="content">
        {% for service in services %}
            <div class="service_list_info">
                <li>
                    <a href="/services/{{ service.id }}">{{ service.name }}</a>
                    <pre>{{ service.description }}</pre>
                    <p>{{ service.field }} - ${{ service.price_hour }}/hour</p>
                    <p>Requested {{ service.request_count }} time{{ service.request_count|pluralize }}</p>
                </li>
            </div>
            <div class="line"></div>
        {% empty %}
            <div style="text-align: center; padding: 40px;">
                <h3>No services have been requested yet</h3>
                <p>Be the first to request a service!</p>
                <a href="/services/" class="like_button">Browse Services</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}