{% extends 'main/base.html' %}
{% block title %}
    {{ service.name }}
{% endblock %}

{% block breadcrumb %}
<div class="breadcrumb">
    <a href="/">Home</a> > 
    <a href="/services/">Services</a> > 
    <a href="/services/{{ service.field|lower|slugify }}/">{{ service.field }}</a> > 
    {{ service.name }}
</div>
{% endblock %}

{% block content %}
    <div class='service_info_header'>
        <h1>{{service.name}} -- ${{service.price_hour}}/hour</h1>
        <h5>by <a href="/company/{{service.company.user.username}}">{{service.company.user.username}}</a> ({{service.company.field}} Company)</h5>
    </div>
    <div class="content">
        <h3>Category: {{service.field}}</h3>
        <p><strong>Description:</strong></p>
        <p style="text-align: left;">{{service.description}}</p>
        <p><strong>Created:</strong> {{service.date|date:"M d, Y"}}</p>
    </div>
    {% if request.user.is_customer %}
        <a href="/services/{{service.id}}/request_service/" class="like_button">Request Service</a>
    {% elif request.user.is_company and service.company.user == request.user %}
        <a href="/services/{{service.id}}/edit/" class="like_button">Edit Service</a>
    {% endif %}
{% endblock %}